.success {
    color: green;
}

.error {
    color: red;
}

.button {
    width: 200px;
    height: 100px;
    font-size: 30px;
    padding: 5px;
}

.button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.h3 {
    font-size: 50px;
}